.container {
  display: flex;
  place-content: center;
  place-items: center;

  flex-flow: column nowrap;
  gap: var(--space-md);

  width: 100%;
  padding-inline: var(--space-lg);
}

.container.sm-container {
  padding-inline: var(--space-sm) !important;
}

.container p {
  max-width: 60ch;
  text-align: center;
}

.container.fluid-container {
  height: 90%;
}
