.grid {
  display: grid;
  place-items: center;

  width: 100%;
}

.grid.grid-auto {
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 1fr));
  grid-auto-rows: minmax(300px, auto);

  gap: var(--space-lg);
  padding: var(--space-xl);
}
