.center {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.svg-h-500 {
  height: var(--fs-500);
}

.icon-text {
  display: flex;
  gap: var(--space-sm);
  align-items: center;
  justify-content: center;
}

.icon-text.col {
  flex-direction: column;
}
