:root {
  /* Fonts */
  --font-body: "Inter", sans-serif;
  --font-heading: "Space Grotesk", sans-serif;

  /* Font sizes */
  --fs-100: clamp(0.875rem, 0.8rem + 0.2vw, 1rem);
  --fs-200: clamp(1rem, 0.95rem + 0.3vw, 1.125rem);
  --fs-300: clamp(1.25rem, 1rem + 0.6vw, 1.5rem);
  --fs-400: clamp(1.5rem, 1.2rem + 1vw, 2rem);
  --fs-500: clamp(2rem, 1.5rem + 2vw, 3rem);
  --fs-600: clamp(2.5rem, 2rem + 3vw, 4rem);

  /* Border radius */
  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 1rem;

  /* Spacing */
  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 2rem;

  /* Timing */
  --transition-fast: 1s;
  --transition-normal: 2s;
  --transition-slow: 3s;

  /* Z-index */
  --z-dropdown: 100;
  --z--navbar: 900;
  --z-hamgurber: 1000;
  --z-dialog: 1500;
  --z-tooltip: 2000;
}
