<%- include("partials/header"), { pageTitle: "500 - Internal Server Error" } %>

<main class="error-page">
  <p class="error-code">HTTP 500</p>

  <div class="card error-card">
    <div class="icon-text">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-exclamation-diamond-fill"
        viewBox="0 0 16 16"
      >
        <path
          d="M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2"
        />
      </svg>
      <h2>Task</h2>
    </div>

    <div class="card-text">
      <h3>Complete Request</h3>

      <div class="btn-group">
        <span>Status</span>

        <span class="select-label warning">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-exclamation-triangle"
            viewBox="0 0 16 16"
          >
            <path
              d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.15.15 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.2.2 0 0 1-.054.06.1.1 0 0 1-.066.017H1.146a.1.1 0 0 1-.066-.017.2.2 0 0 1-.054-.06.18.18 0 0 1 .002-.183L7.884 2.073a.15.15 0 0 1 .054-.057m1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767z"
            />
            <path
              d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"
            />
          </svg>
          Failed
        </span>
      </div>

      <p>
        <%= APP.NAME %> encountered an unexpected error while processing your
        request.
      </p>

      <p class="muted">If the problem persists, please report it on GitHub.</p>
    </div>

    <div class="btn-group">
      <button id="retry-btn" class="btn">Retry</button>

      <a class="btn secondary" href="<%= ROUTES.HOME %>"> Return Home </a>
    </div>
  </div>
</main>

<%- include("partials/footer") %>
