</main>
    <footer>
      <a
        href="<%= APP.LINKS.GITHUB %>"
        target="_blank"
        rel="noopener noreferrer"
        ><img src="/assets/svg/github.svg" alt="GitHub Icon"
      /></a>

      <p>Built with &hearts; using Node.js, Express, Axios & EJS</p>
      <p>
        &copy; <%= new Date().getFullYear() %> Inboxios
        <span class="version">v<%= APP.VERSION %></span>
      </p>
      <p>Powered by Notion API</p>
    </footer>
    <script type="module" src="/js/main.js"></script>
  </body>
</html>
