<dialog id="task-dialog" class="dialog" data-mode="<%= BUTTON_LABELS.edit %>">
  <form id="task-form">
    <h2 id="task-dialog-title">Edit Task</h2>

    <div class="form-group">
      <label for="title"> <%- include("taskLogo") %> Title </label>

      <input id="title" name="title" type="text" required />
    </div>

    <div class="form-group">
      <label for="status"> Status </label>
        <select
            id="status"
            name="status">
            <% STATUS.forEach(status => { %>
                <option value="<%= status %>">
                    <%= status %>
                </option>
            <% }) %>
        </select>
    </div>

    <fieldset>
      <legend>Due Date</legend>

      <div class="form-group">
        <label for="startDate"> Start </label>

        <input id="startDate" name="startDate" type="datetime-local" />
      </div>

      <div class="form-group">
        <label for="endDate"> End </label>

        <input id="endDate" name="endDate" type="datetime-local" />
      </div>
    </fieldset>

    <div class="btn-group">
      <button type="button" command="close" commandfor="task-dialog">
        Cancel
      </button>

      <button id="task-submit" type="submit">Edit Task</button>
    </div>
  </form>
</dialog>
